.contact{
    width: 100%;
}
.contact h1{
    margin-top: 1em;
    text-align: center;
    font-size: 4em;
}
form{
    width: 60%;
    margin: auto;
}

form>input{
    padding: .3em 1em;
    height: 4em;
    width: 100%;
    margin-top: 2em;
    display: block;
    border: .1em solid purple;
    border-radius: .4em;
}
form::placeholder{
    color: green;
}
form>textarea{
    margin-top: 2em;
    width: 100%;
    padding: .3em 1em;
    border: .1em solid purple;
    border-radius: .4em;
    resize: none;
}
.btn{
    background-color: #f53f51;
    height: 3em;
    margin: auto;
    margin-bottom: 2em;
    margin-top: 2em;
    width: 30%;
    border:none;
}