nav {
  padding: 0em 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0b0b60;
}
.hamburger {
  display: none;
}
.logodiv {
  display: flex;
  align-items: center;
  font-size: 2em;
  gap: 1em;
}
.logodiv img {
  height: 3em;
}
nav > ul {
  background-color: #0b0b60;
  display: flex;
  gap: 3em;
}
.logo {
  /* display: block; */
  text-decoration: none;
  color: white;
}
.link {
  color: white;
  text-decoration: none;
  font-size: 2em;
}
@media (max-width: 982px) {
  /* nav{
    margin-bottom: 20em;
  } */
  .logodiv > h5 {
    display: none;
  }
  nav > ul {
    flex-direction: column;
    align-items: center;
    padding: 2em;
    margin: 0;
    position: absolute;
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
  }
  nav > ul .link {
    
    text-align: center;
  }
  .hamburger {
    z-index: 101;
    display: block;
    color: white;
    font-size: 3em;
  }
}
